%font--small {
  font-size: 14px;
  font-weight: 300;
}

%font--normal {
  font-size: 18px;
  font-weight: 500;
}

%font--normal-bold {
  font-size: 18px;
  font-weight: 700;
}

%font--large {
  font-size: 32px;
  font-weight: 700;
}
